<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DipText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A6786D1B1BE34BD200A9057C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6786D341BE34BD200A9057C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6786D3F1BE34BD200A9057C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
